# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

build/win64

thirdparty/boost_1_70_0/bin.v2
thirdparty/boost_1_70_0/stage

thirdparty/boost_1_70_0/libs/config/checks/architecture/bin/
thirdparty/boost_1_70_0/libs/math/dot_net_example/distribution_explorer/obj/
thirdparty/boost_1_70_0/tools/build/src/engine/bin.ntx86/
thirdparty/boost_1_70_0/tools/build/src/engine/bootstrap/
thirdparty/boost_1_70_0/bootstrap.log 

*.assbin

assimp.log

